html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-image: url("../images/login2.jpg");
    /* 让背景图基于容器大小伸缩 */
    background-size: 100%;
    background-attachment: fixed;
}

#login-box {
    width: 40%;
    height: 40%;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    background: #00000060;
    padding: 20px 50px;
}

#login-box h1 {
    color: #fff;
    font-size: 50px;
}

input[type=text] {
    font-size: 30px;
}

