.lookup {
    position: absolute;
    left: 1%;
    bottom: 0;
    top: 5%;

}

.lookup select {
    width: 120px;
    height: 25px;
    vertical-align: middle;
}

.lookup input[type="text"] {
    width: 120px;
    height: 20px;
    vertical-align: middle;
}

.lookup input[type="button"] {
    width: 120px;
    height: 25px;
    line-height: 25px;
    float: right 10px;
    vertical-align: middle;
}

.lookup h2 {
    font-family: 'Droid Serif', serif;
}

.lower-list {
    position: absolute;
    left: 1%;
    top: 25%;
}

.gauge-outfit {
    background-color: #1ce3dc;
    margin-top: 6%;
    height: 25px;
    width: 160px;
    text-align: center;
}

.lower-list tr {
    border-collapse: collapse;
    border: 1px solid #000000;
}